.filters {
	margin-top: 45px;
	margin-left: 45px;
}

.button {
	width: 145px;
	height: 35px;
}

.heading {
	font-family: Archivo;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 40px;
}
