@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: steelblue;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hiddenText {
	display: none;
}

.container {
 	margin: 0 auto;
    width: 100%;
	height: 100%;
	padding: 1rem;
}

hr {
  margin: 4px 0;
}

.hr1 {
  border: 0;
  border-top: 1px solid #E4E4E4;
  ;
}

.hr2 {
  border: 0;
  border-top: 2px solid #E4E4E4;
}
