.pictures {
	height: 700px;
	width: 100%;
	padding: 2rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	border: 5px solid red;

	&__ofday {
		margin-bottom: 2rem;
		//border: 1px solid black;
	}

	&__heading {
		height: 50px;
		border: 1px solid black;
		width: 100%;
		margin: 30px 0;
		display: flex;
		flex-direction: row;

		&__bolded {
			font-weight: bold;
			display: inline;
			margin-right: 5px;
		}

		&__disabled {
			color: #9b9b9b;
			display: inline;
			margin-left: 5px;
		}
	}

	&__all {
		display: flex;
		flex-direction: row;
		border: 1px solid black;
	}

	&__filters {
		margin-right: 1rem;
		display: flex;
		flex-grow: 1;
		flex-basis: 0;
		min-width: 250px;
		border: 1px solid black;
	}

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-grow: 3;
		flex-basis: 0;
		width: 100%;
		border: 1px solid black;
	}

	&__sort {
		border: 3px solid black;
		width: 100%;
		height: 5%;
	}

	&__6pack {
		width: 100%;
		height: 90%;
		//border: 1px solid black;
	}

	&__pagination {
		width: 100%;
		height: 5%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		//border: 1px solid black;
	}
}

@media (max-width: 600px) {
	.pictures {
		width: 100%;
		flex-direction: column;
	}
}
