.shopingcart {
	height: 70px;
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-top: 10px;
	// border: 1px solid red;

	&__button {
		width: 145px;
		height: 35px;
	}

	&__checkout {
		position: relative;
		padding: 5px;
		// border: 1px solid red;
	}

	&__icon {
		height: 100%;
		width: 100%;
	}

	&__items {
		position: absolute;
		right: -10px;
		bottom: -10px;
		height: 25px;
		width: 25px;
		background-color: black;
		opacity: 80%;
		color: white;
		font-size: 15px;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
