.shoping__cart {
	height: 70px;
	width: 150px;

	display: flex;
	flex-direction: row;
}

.shoping__icon {
	height: 60px;
	width: 60px;
	padding: 4px;
}

.shoping__items {
	position: absolute;
	right: 35px;
	top: 50px;
	height: 30px;
	width: 30px;
	background-color: black;
	opacity: 80%;
	color: white;
	font-size: 15px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}
