.shopingcart {
	height: 70px;
	width: 150px;
	display: flex;
	flex-direction: row;

	&__button {
		width: 145px;
		height: 35px;
	}

	&__icon {
		height: 60px;
		width: 60px;
		padding: 4px;
	}
	&__items {
		position: absolute;
		right: 25px;
		top: 45px;
		height: 25px;
		width: 25px;
		background-color: black;
		opacity: 80%;
		color: white;
		font-size: 15px;
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
